@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@font-face {
	font-family: 'Kallisto';
	src: url('../fonts/kallisto_thin-webfont.eot');
	src: url('../fonts/kallisto_thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/kallisto_thin-webfont.woff2') format('woff2'),
		url('../fonts/kallisto_thin-webfont.woff') format('woff'),
		url('../fonts/kallisto_thin-webfont.ttf') format('truetype'),
		url('../fonts/kallisto_thin-webfont.svg#Tilt Warp') format('svg');
}




@font-face {
	font-family: 'KallistoMedium';
	src: url('../fonts/kallisto_medium-webfont.eot');
	src: url('../fonts/kallisto_medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/kallisto_medium-webfont.woff2') format('woff2'),
		url('../fonts/kallisto_medium-webfont.woff') format('woff'),
		url('../fonts/kallisto_medium-webfont.ttf') format('truetype'),
		url('../fonts/kallisto_medium-webfont.svg#Tilt Warp') format('svg');
	font-weight: 500;
	font-style: normal;

}

::-webkit-scrollbar {
	width: 0;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aslide {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}



header {
	background: black;
	text-align: center;
	width: 100vw;
	font-size: 40px;
	font-family: "Anton", serif;
	font-weight: 400;
	font-style: normal;
	padding: 5px 0;
	position: sticky !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}

header a {
	text-decoration: none;
	color: white;
}


footer {
	background: rgb(0, 0, 0);
	width: 100vw;
	height: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: static !important;
}

.footer-info {
	font-size: 14px;
	color: gray;
	font-family: "Anton", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-social-links {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.footer-social-links a {
	display: inline-flex;
	padding: 8px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 4px 4px;
	transition: .5s;
}





body {
	background: rgb(22, 25, 28);
}

.background-img-container {
	width: 100vw;
	height: auto;
}

.background-img-container img {
	width: 100%;
	height: auto;
}

.hide {
	display: none;
}

#collection {
	width: inherit;
	padding: 10em 100px 40px;
}

@media screen and (max-width: 600px) {
	#releases {
		padding: 120px 20px 40px;
		padding-bottom: 70px;
	}
}

#collection #item-filter {
	width: 100%;
	padding: 20px 0 0;
	margin-bottom: 50px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: row wrap;
	flex-wrap: row wrap;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#collection #item-filter::-webkit-scrollbar {
	-webkit-appearance: none;
	appearance: none;
}

@media screen and (max-width: 600px) {
	#collection #item-filter {
		width: 100vw;
		position: relative;
		left: -20px;
		right: 20px;
		padding: 0 20px !important;
		margin-bottom: 30px;
		overflow-x: scroll;
		scroll-behavior: smooth;
	}
}

#collection #item-filter input[type="radio"] {
	-webkit-appearance: none;
	margin: 0;
}

#collection #item-filter input[type="radio"]+label {
	background-color: rgba(36, 44, 47, 0.7);
	color: white;
	border-radius: 3px;
	font-family: "Kallisto", sans-serif;
	font-size: 1.1rem;
	font-weight: 900;
	outline: none;
	padding: 14px 22px 10px !important;
	-webkit-transition: .1s ease background-color;
	transition: .1s ease background-color;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	#collection #item-filter input[type="radio"]+label {
		font-size: 16px;
	}
}

#collection #item-filter input[type="radio"]+label+input {
	margin-left: 10px;
}

#collection #item-filter input[type="radio"]:checked+label {
	background-color: black !important;
}

#collection .photos-grid {
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin-bottom: 80px !important;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: row;
	gap: 40px;
}

@media screen and (max-width: 1024px) {
	#collection .photos-grid {
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 768px) {
	#collection .photos-grid {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	#collection .photos-grid {
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}
}

#collection .photos-grid .collection-item {
	font-family: "Anton", serif;
	font-weight: 100;
	text-transform: uppercase;
	width: auto;
}

#collection .photos-grid .collection-item img {
	width: 100% !important;
	border-radius: 3px;
}

#collection .photos-grid .collection-item .name {
	font-size: 14px;
	margin: 20px 0 0;
	color: white;
}

#collection .photos-grid .collection-item .subtitle {
	font-size: 18px;
	margin: 8px 0 20px;
	color: white;
}

@media screen and (max-width: 600px) {
	#collection .photos-grid .collection-item:last-of-type {
		margin-bottom: 40px;
	}
}

h2 {
	font-family: "Kallisto", sans-serif !important;
	font-weight: 900;
	font-size: 36px;
	color: white;
	letter-spacing: 0.075em;
}

h3 {
	margin-top: 0;
	font-weight: 400;
	font-size: 36px;
	line-height: 110%;
	text-transform: uppercase;
	letter-spacing: 0.075em;
}

h5 {
	display: block;
	font-size: 0.83em;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: 400;
	unicode-bidi: isolate;
	letter-spacing: 0.075em;
}
